<!-- Botton -->
    <a href="{% url 'read' %}" role="button" class="btn btn-success" aria-pressed="true">TABLE</a>
    <a href="{% url 'graph' %}" role="button" class="btn btn-primary" aria-pressed="true">GRAPH</a>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ConsoleModal" aria-pressed="true">CONSOLE</button>
    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#PostModal" aria-pressed="true">POST</button>
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#ProfileModal" aria-pressed="true">MONITOR</button>
    <a href="{% url 'logout' %}" class="btn btn-secondary" role="button" aria-pressed="true">LOGOUT</a>